.copy {
    background-color: #4f7798dd;
    font-family: 'Kanit';
    font-weight: bold;
}

.copyright-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.copyright-section img {
    display: inline-block;
    margin: 0 10px;
    width: 100px;
    height: auto;
}

.copyright-text {
    margin: 0;
    font-size: 1.2rem;
    color: #fff;
}

/* ปรับแต่งส่วนนี้ */
.text-center { 
    text-align: center; /* จัดข้อความให้อยู่กึ่งกลางเสมอ */
}

.text-center p {
    font-size: 2rem;
    color: #fff;
    margin: 0;
}

@media (max-width: 576px) {
    .copy .copyright-section {
        flex-direction: column;
    }

    .copy .copyright-section img {
        margin: 0 0 10px 0;
    }

    .text-center p {
        font-size: 1rem;
    }
}