.form-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: #f9f9f9;
}

h2 {
  color: #333;
}

label {
  font-size: 16px;
  margin-right: 10px;
}

input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 80%;
}

button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.status-pending {
  color: #2ecc71; /* สีเขียว สำหรับ "รอดำเนินการ" */
  font-weight: bold;
}

.status-in_progress {
  color: #f39c12; /* สีเหลือง สำหรับ "เข้ารับการซ่อมแล้ว" */
  font-weight: bold;
}

.status-completed {
  color: #3498db; /* สีฟ้า สำหรับ "ดำเนินการเสร็จสิ้น" */
  font-weight: bold;
}
.status-rejected {
  color: #e74c3c; /* สีแดง สำหรับ "ปฏิเสธการซ่อม" */
  font-weight: bold;
}